/cc-box.exe
/cli/cc-box.exe
/gui.exe
/cli/build/bin/
/gui/build/bin/
/gui/frontend/dist/
/gui/frontend/node_modules/
/gui/frontend/.svelte-kit/

# 敏感文件
*.key
*.pem
key.bin
salt.bin
config.toml
config.yaml
secrets.json
.cc-box/
